<button class="btn btn-secondary mb-3" (click)="refresh()">Refresh</button>

<div class="tx-table">
  <div class="column" *ngFor="let col of columns; index as colIndex">
    <ng-container *ngFor="let i of maxArr; index as cellIndex">
      <div class="cell"
        [ngClass]="{
          'cell-tai': isTai(col[i]?.num),
          'is-searched': isSearchedCell(col[i]),
          'is-selected': col[i] && isSelectedCell(col[i].index)
        }"
        (click)="onClickCell(col[i], $event)">
        <div class="num-wrapper" *ngIf="col[i]?.num"><span>{{col[i]?.num || ''}}</span></div>
        <!-- <div class="num-wrapper" *ngIf="col[i]?.num"><span>{{col[i]?.index}}</span></div> -->
      </div>
    </ng-container>
  </div>
</div>

<div>Search text: T,X,T,X</div>
<div>Selected Cells: {{getSelectedCells()}}</div>
