$cellWH: 33px;
// $cellWH: 42px;

:host {
  display: block;
}

.main-wrapper {
  overflow: auto;
}

.tx-table-wrapper {
  width: fit-content;
}

.time-group {
  width: 100%;
  height: 5px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  padding-top: 30px;
  position: relative;

  .time {
    height: 5px;
    background-color: #dfd9cb;
    position: absolute;
    left: 0;

    &.chan {
      background-color: #000000;
    }
    span {
      position: absolute;
      right: 0;
      top: -30px;
      font-size: 14px;
      font-weight: 600;
    }
  }
}

.tx-table {
  display: flex;

  .column {
    display: flex;
    flex-direction: column;

    .cell {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $cellWH;
      min-width: $cellWH;
      height: $cellWH;
      min-height: $cellWH;
      padding: 0.25rem;
      border-bottom: 1px solid white;
      border-left: 1px solid white;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      background-color: #17081e;

      &.cell-tai {
        .num-wrapper {
          background-color: #000000;
          color: white;
        }
      }

      &:hover {
        background-color: #1a73e8;
      }

      &.is-searched {
        .num-wrapper {
          color: crimson;
          border-color: crimson;
        }
      }

      &.is-selected {
        background-color: #1a73e8;
        color: white;
      }

      .num-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        border-radius: 50%;
        border: 1px solid white;
        background-color: #dfd9cb;
        font-weight: 500;
        width: 100%;
        height: 100%;
      }
    }
  }
}