.master-board{
  margin: 20px;
  form{
    margin: 20px 0;
    width: 700px;
    max-width: 100%;
    margin: 0 auto;

  }
  .text{
    max-width: 100%;
    margin: 10px auto;
    resize:vertical;

  }

  .text-break{
    word-break: break-word;
  }
  .submit{
    display: flex;
    margin: 10px 0;
    button{
      margin-left: auto;
      width: 150px;
      height: 40px;
    }
  }
  .toast-custom{
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    max-width: 90%;
    border-radius: 5px;
    color: #fff;
    & hr{
      margin: 5px;
    }
  }
  .btn-x{
    border: 0;
    margin: 0px;
    height: 15px;
    color: #fff;
    background-color: #fff0;
  }
}


.input-board{
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  .input-item{
    margin: 5px;
    min-width: 31px;
    min-height: 31px;
    height: 31px;
    width: 31px;
    border-radius: 50%;
    border: 0;
    font-size: 14px;
    background-color: rgb(0 123 255);
    color: #fff;
    &:hover{
      opacity: 0.9;
    }
    &:active{
      background-color: rgb(0, 67, 139);

    }
  }
}

.w-full{
  width: 100%;
}
