<div class="master-board">
  <form [formGroup]="form">

    <div class="select-field mb-3">
      <ng-select
      formControlName="name"
      placeholder="Select game name"
      [items]="gameTypes"
      bindValue="value"
      bindLabel="label"
      [clearable]="false"
      [searchable]="false">
  </ng-select>
    </div>
    <textarea
      #textbox
      name="textbox"
      multiple
      rows="3"
      type="text"
      class="form-control text"
      formControlName="textform"
      (ngModelChange)="change()"
    ></textarea>
    <div class="input-board">
      <button
        *ngFor="let input of inputs"
        class="input-item"
        (click)="add(input)"
      >
        {{ input }}
      </button>
    </div>
    <div class="error-input  my-1">
      <app-error-input [textform]="textform"></app-error-input>
    </div>

    <div class="d-flex align-items-center">
      <div class="p-1 text-numbers"><span >
        {{!textform?.invalid ? length + ' Numbers': "0"}}</span>
      </div>

      <app-bright class="btn-bright ml-auto"></app-bright>
      <div class="submit">
        <button
          type="submit"
          class="btn btn-dark"
          (click)="onSubmit()"
          [disabled]="form.invalid"
        >
          Submit
        </button>
      </div>
    </div>
  </form>

  <div class="toast-custom bg-success" [hidden]="!isSuccess">
    <div class="d-flex justify-content-center">
      <div>SUCCESS</div>
      <button (click)="isSuccess = false" class="btn-x ml-auto">
        X
      </button>
    </div>
    <hr />
    <div>Data has been saved successfully</div>
  </div>
  <div class="toast-custom bg-danger" [hidden]="!isFailure">
    <div class="d-flex justify-content-center">
      <div>FAILURE</div>
      <button (click)="isFailure = false" class="btn-x ml-auto">
        X
      </button>
    </div>
    <hr />
    <div>Data has been saved failed</div>
  </div>
</div>
