<app-bright></app-bright>

<div class="master-board">
  <form [formGroup]="form">
    <div class="d-flex">
      <label>Enter 200 or &lt;200 numbers</label>
      <div class="p-1 ml-auto text-success" style="min-height:25px;"><span *ngIf="!textform?.invalid">{{length}} numbers</span></div>
    </div>
    <textarea
      #textbox
      name="textbox"
      multiple
      rows="3"
      type="text"
      class="form-control text"
      formControlName="textform"
      (ngModelChange)="change()"
    ></textarea>
    <div class="input-board">
      <button
        *ngFor="let input of inputs"
        class="input-item"
        (click)="add(input)"
      >
        {{ input }}
      </button>
    </div>
    <app-error-input [textform]="textform"></app-error-input>
    <div class="submit">
      <button
        type="submit"
        class="btn btn-dark"
        (click)="onSubmit()"
        [disabled]="!(textform?.errors?.type === 3)"
      >
        Submit
      </button>
    </div>
    <div>text: {{ resultNumber }}</div>
    <div>TX: {{ resultTX }}</div>
  </form>

  <div class="toast-custom bg-success" [hidden]="!isSuccess">
    <div class="d-flex justify-content-center">
      <div>SUCCESS</div>
      <button (click)="isSuccess = false" class="btn-x ml-auto">
        X
      </button>
    </div>
    <hr />
    <div>Data has been saved successfully</div>
  </div>
  <div class="toast-custom bg-danger" [hidden]="!isFailure">
    <div class="d-flex justify-content-center">
      <div>FAILURE</div>
      <button (click)="isFailure = false" class="btn-x ml-auto">
        X
      </button>
    </div>
    <hr />
    <div>Data has been saved failed</div>
  </div>
</div>
