<button class="btn btn-link btn-create-bright" (click)="openModal(template)">
  Create standard bridge
</button>
<div>
  <form [formGroup]="form">
    <!-- <ng-template *ngTemplateOutlet="buttonTemplate"></ng-template> -->

    <ng-template #template>
      <div class="modal-header">
        <h5 class="modal-title pull-left">Standard Bridge</h5>

        <button
          type="button"
          class="close btn-close pull-right"
          aria-label="Close"
          (click)="hide()"
        >
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row mt-1 mb-2">
            <div class="col-2 my-auto">Name</div>
            <div class="col-10">
              <!-- <input type="text" class="form-control" formControlName="name" /> -->
              <ng-select
                class="select-game"
                formControlName="nameBridge"
                placeholder="Select game name"
                [items]="gameTypes"
                bindValue="value"
                bindLabel="label"
                [clearable]="false"
                [searchable]="false">
            </ng-select>
              <div
                class="text-danger pt-1"
                *ngIf="nameBridge?.invalid && (nameBridge?.dirty || nameBridge?.touched)"
              >
                <div *ngIf="nameBridge?.errors?.required">Name is required</div>
              </div>
            </div>
          </div>

          <div class="row mb-1">
            <div class="col-12 col-lg-2">
              <div class="d-flex flex-wrap">
                <p>Preview</p>
                <button
                class="btn-primary rounded-circle btn-circle mx-2"
                [disabled]="textformBridge?.invalid"
                (click)="convertData()"
              >
                <i class="bi bi-arrow-clockwise"></i>
              </button>
              </div>
            </div>
            <div class="col-11 col-lg-9">
              <div class="tx-table">
                <div
                  class="column"
                  *ngFor="let col of columns; index as colIndex"
                >
                  <ng-container *ngFor="let i of maxArr; index as cellIndex">
                    <div
                      class="cell"
                      [ngClass]="{
                        'cell-tai': isTai(col[i]?.num)
                      }"
                    >
                      <div class="num-wrapper" *ngIf="col[i]?.num">
                        <span>{{ col[i]?.num || "" }}</span>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>

            <div class="col-1">

            </div>
          </div>

          <div class="row my-1">
            <div class="col-md-12 col-lg-2">Data
            </div>
            <div class="col-sm-12 col-lg-10">
              <textarea
                class="w-full"
                class="form-control text"
                formControlName="textformBridge"
                (ngModelChange)="change()"
              ></textarea>
              <div class="mt-2">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-board">
              <button
                *ngFor="let input of inputs"
                class="input-item"
                (click)="add(input)"
              >
                {{ input }}
              </button>
            </div>
            <div class="col-12 height-m">
              <app-error-input [textform]="textformBridge"></app-error-input>
            </div>
          </div>

          <div class="row d-flex justify-content-end mt-1">
            <div class="p-1 text-numbers mr-1 my-auto"><span >
              {{!textformBridge?.invalid ? length + ' Numbers': "0"}}</span>
            </div>
            <button type="submit" class="btn ml-auto btn-info" (click)="reset()">
              Reset
            </button>
            <button class="btn btn-light mx-2" (click)="hide()">Cancel</button>
            <button type="submit" class="btn btn-dark" (click)="onSubmit()" [disabled]="form.invalid">
              Submit
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </form>
</div>
